@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.boxShadow {
  filter: drop-shadow(-4px -4px 44px rgba(0, 0, 0, 0.08));
}
a {
  text-decoration: none;
}
